<h2>Welcome to Sixer's Game Page</h2>
<h3>Choose a Game Date:</h3>

<ul>
  <% @games.each do |game| %>
    <li>
     <td><%= game.date %></td>
    <td><%= game.venue_id %></td>
      <%= link_to @game.date, games_path(@game) %>
    </li>
    <br>
  <% end %>
</ul>
