<h1>Sixer Player's Roster</h1>
<h2>Choose a Player to See Their Stats:</h2>

  <% @players.each do |game| %>
    <li>
      <%= link_to @players.name, players_path(@player) %>

    <br>
  <% end %>
</ul>
