<h1>Sixer Player's Roster</h1>
<h2>Choose a Player to See Their Stats:</h2>

  <% @players.each do |player| %>
    <li>
      <%= link_to player.name, player_path(player) %>

    <br>
  <% end %>
</ul>
